In [8]:
# NIM/NAMA    : 16521369_Ahmad Rizki
# Tanggal     : 26 November 2021
# Deskripsi   : Diberikan data nilai mahasiswa dari file "H05.csv", lalu program akan menampilkan beberapa analisis dari data tersebut.

## **Membaca Data**

In [9]:
import pandas as pd
df = pd.read_csv('H05.csv')

## **Mengakses Data**

In [10]:
# Nilai matematika, fisika, dan kimia milik Tuan Ric
df.loc[df['nama'] == 'Tuan Ric'][['nama','nilai_mat', 'nilai_kim', 'nilai_fis']]

          nama  nilai_mat  nilai_kim  nilai_fis
3513  Tuan Ric      96.78      62.23      30.53

In [11]:
# Mahasiswa dengan nilai fisika tertinggi. (jika lebih dari 1, tampilkan semua)
nilai_fis_max = df['nilai_fis'].max()
df.loc[df['nilai_fis'] == nilai_fis_max]

                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
1936  Yuniar Fazriani Rusmana     FITB      53.61      67.19      92.57

In [14]:
# 10 Mahasiswa dengan nilai kimia tertinggi
df[['nama', 'nilai_kim']].sort_values('nilai_kim' ,ascending=False)[:10]

                          nama  nilai_kim
2554      Faathir Reza Avicena      81.50
2779      Dinda A A Z Mundakir      81.34
3544        Tammya Ayu Purnomo      81.20
4934    Alyssa Nadhira Windari      78.83
1137          Izni Nur Ibrahim      78.46
2262      Rinaldi Oky Setiawan      77.44
4070      Ias Azhari Rezkyarno      76.90
2945           Klara Petra T T      76.61
1788  Naudy Germanimo Laksmana      76.38
1310       Mardliyahtur Rohmah      76.36

In [ ]:
# Banyaknya nilai matematika di bawah 50
print('Banyaknya nilai matematika di bawah 50 sebanyak', len(df.loc[df['nilai_mat'] < 50]))

Banyaknya nilai matematika di bawah 50 sebanyak 329

In [ ]:
# Banyak mahasiswa FMIPA
print('Banyaknya mahasiswa FMIPA adalah', len(df.loc[df['fakultas'] == 'FMIPA']))

Banyaknya mahasiswa FMIPA adalah 627