In [ ]:
# NIM/NAMA    : 16521369_Ahmad Rizki
# Tanggal     : 01 Desember 2021
# Deskripsi   : Diberikan data nilai mahasiswa dari file ".csv", lalu program akan menampilkan beberapa analisis dari data tersebut.

## **Membaca Data**

In [1]:
import pandas as pd
df = pd.read_csv('P05-02.csv')

## **Mengakses Data**

In [7]:
# Jawaban 1
#  Ada berapa rumah yang mengizinkan membawa hewan peliharaan dengan harga sewa oer tahun di bawah 5000
print('Banyaknya rumah yang mengizinkan membawa hewan peliharaan dengan harga sewa oer tahun di bawah 5000 adalah')
len(df.loc[(df['animal'] == 'acept') & (df['rent_amount'] < 5000)])

Banyaknya rumah yang mengizinkan membawa hewan peliharaan dengan harga sewa oer tahun di bawah 5000 adalah

4936

In [8]:
# Jawaban 2
# Data rumah dengan jumlah kamar mandi terbanyak

df.loc[df['bathroom'] == df['bathroom'].max()]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
319,Sao Paulo,900,4,9,8,1,acept,not furnished,0,15000,5700,226,20930

In [12]:
# Jawaban 3
# Ada berapa rumah dengan luas diatas 200 dan pajak bangunan per tahun dibawah 1700

print('Banyak rumah dengan luas diatas 200 dan pajak bangunan per tahun dibawah 1700 adalah')
len(df.loc[(df['area'] > 200) & (df['property_tax'] < 1700)])

Banyak rumah dengan luas diatas 200 dan pajak bangunan per tahun dibawah 1700 adalah

979

In [24]:
# Jawaban 4
# Banyak rumah dengan biaya asuransi kebakaran per tahun diatas 70 untuk masing-masing kota

diatas_70 = df.loc[df['fire_insurance'] > 70]
diatas_70.groupby('city')['fire_insurance'].size()

city
Belo Horizonte     117
Campinas            34
Porto Alegre        48
Rio de Janeiro     196
Sao Paulo         1095
Name: fire_insurance, dtype: int64

In [29]:
# Jawaban 5
# 5 data rumah dengan jumlah lantai terbanyak yang belum dilengkapi furnitur (not furnished)

df.loc[df['furniture'] == 'not furnished'].sort_values('floor', ascending=False)[:5]

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,homeowner_tax,rent_amount,property_tax,fire_insurance,total
1936,Belo Horizonte,80,3,2,2,301,acept,not furnished,750,2600,164,35,3549
4392,Campinas,64,2,2,2,51,acept,not furnished,800,1900,129,25,2854
1230,Sao Paulo,353,4,5,5,46,acept,not furnished,3000,10000,0,127,13130
7844,Sao Paulo,51,1,1,0,32,not acept,not furnished,429,3250,37,42,3758
4257,Belo Horizonte,305,4,5,5,29,acept,not furnished,4596,14000,2239,187,21020